.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 100px 50px;
  text-align: center;
  font-size: 17px;
  color: #999;
  background: #f7f7f7;
  cursor: pointer;
  .drop-zone:hover {
    background: #eee;
  }
  .dragover {
    background: #f0f0f0;
  }
}
