<div class="modal-header">
  <h5 class="modal-title">Recherche</h5>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('dismissed')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-row">
      <div class="form-group mr-2 col-lg-6">
        <input
          type="search"
          id="search"
          class="form-control"
          aria-label="Search"
          (input)="searchInput()"
          [(ngModel)]="searchUser"
        />
      </div>
      <div class="form-group col-lg-3">
        <button
          class="btn btn-outline-success"
          (click)="search()"
        >
          Recherche
        </button>
      </div>
    </div>
  </form>
  <div class="row" style="height: auto">
    <div class="col-md-6">
      <h5>Résultat de la recherche</h5>
      <div class="card border-dark">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let user of searchResults">
            <div class="row justify-content-between">
              <span class="col-md-9">
                {{ user.username }}
              </span>
              <div class="col-md-3">
                <div class="row justify-content-center">
                  <div class="col"></div>
                  <div class="col cursor-pointer" (click)="selectUser(user.id)">
                    <i
                      class="fa fa-plus-circle fa-lg text-success"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <h5>Sélection</h5>
      <div class="card border-dark">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let user of selectedUsers">
            <div class="row justify-content-between">
              <span class="col-md-9">
                {{ user.username }}
              </span>
              <div class="col-md-3">
                <div class="row justify-content-center">
                  <div class="col"></div>
                  <div class="col cursor-pointer" (click)="deselectUser(user.id)">
                    <i class="fas fa-times-circle fa-lg text-danger"></i>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="enregistrer()">
    Enregistrer
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.close('Close click')"
  >
    Anuler
  </button>
</div>

<!-- <div class="modal modal-backdrop modal-lg fade" id="modal" #modal tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Rechercher</h2>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" class="form-inline mt--2 d-md-none">
          
            <div class="input-group input-group-rounded input-group-merge">
              <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Rechercher" aria-label="Rechercher">
              <div class="input-group-prepend">
                <div class="input-group-text rounded-right">
                  <span class="fa fa-search pointer-event"></span>
                </div>
              </div>
            </div>
          
        </form>
        <div class="row mt-2">
            <div class="col-sm-6 h-100 w-50">
                <h3>Resultat</h3>
            </div>
            <div class="col-sm-6 h-100 w-50">
                <h3>Selection</h3>
            </div>
        </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Fermer</button>
          <button class="btn btn-primary" type="button">Enregistrer</button>
      </div>
    </div>
  </div>
</div> -->
