<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <form>
        <label for="emailInput">Inscrivez-vous pour recevoir notre newsletter !</label>
        <input type="email" id="emailInput">
        <button type="submit">OK!</button>
      </form>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div id="map-canvas" class="map-canvas" data-lat="40.748817" data-lng="-73.985428" style="height: 600px;"></div>
      </div>
    </div>
  </div>
</div>
