<footer class="footer bg-transparent">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a class="font-weight-bold ml-1" target="_blank">SPREE!</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://www.epsi.fr/innovation-lab/workshop-book/" class="nav-link" target="_blank">Workshop L1</a>
        </li>
        <li class="nav-item">
          <a href="https://www.epsi.fr/campus/campus-de-paris/" class="nav-link" target="_blank">Epsi Paris</a>
        </li>
        <li class="nav-item">
          <a href="https://www.facebook.com/ecole.EPSI/" class="nav-link" target="_blank">Facebook</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
