<!-- *ngIf="display == true && displayInnerFolder == false"
  (submit)="onSubmit()" -->

<!-- <div class="container-fluid"> -->
<div class="card rounded shadow p-5 mt-3 border-0">
  <h1 class="title text-lg-center">
    Remplissez le formulaire ci-dessous pour l'initiation de votre workflow.
  </h1>
  <form class="mt-3">
    <div class="row">
      <div class="col-lg-7">
        <div class="form-group">
          <label class="form-control-label"> Titre </label>
          <!-- [(ngModel)]="titre" -->
          <input  class="form-control" type="text" />
        </div>
        <!-- [(ngModel)]="message" -->
        <div class="form-group">
          <label class="form-control-label"> Message </label>
          <textarea
            name="message"
            
            class="form-control"
          ></textarea>
        </div>
        <div class="form-group">
          <label class="form-control-label"> Priorité </label>
          <!-- [(ngModel)]="priorite" -->
          <select class="form-control" name="priorite" >
            <option value="basse">basse</option>
            <option value="moyenne">moyenne</option>
            <option value="eleve">élevé</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-control-label"> Echéance </label>
          <!-- [(ngModel)]="echeance" -->
          <input
            
            class="form-control"
            id="exheance"
            name="echeance"
            type="date"
          />
        </div>
        <div class="form-group">
          <label class="form-control-label" for="statut"> Statut </label>
          <select
            class="form-control"
            name="statut"
            id="statut"
            
          >
          <!-- [(ngModel)]="statut" -->
            <option value="pas-demarre">Pas démarré</option>
            <option value="en-cours">En cours</option>
            <option value="suspendu">Suspendu</option>
            <option value="annule">Annulé</option>
            <option value="termine">Terminé</option>
          </select>
        </div>

        <label class="form-control-label" for="documents">
          Documents ajoutés
        </label>
        <div class="form-row justify-content-between">
          <div class="form-group col-lg-7">
            <!-- [(ngModel)]="addDocuments" -->
            <input
              name="documents"
              
              class="form-control"
            />
          </div>

          <div class="form-group col-lg-5">
            <!-- modal file button -->
            <!-- (click)="openModal('file')" -->
            <button
             
              class="btn btn-outline-primary form-control"
            >
              Ajouter un document
            </button>
          </div>
        </div>

        <div>
          <div class="form-row">
            <!-- modal file button -->
            <div class="col-lg-6">
                <!-- (click)="openModal('task')" -->
              <button
                
                class="btn btn-outline-primary form-control"
              >
                Ajouter une tâche
              </button>
            </div>
            <div class="col-lg-6">
              <!-- modal user button -->
              <!-- (click)="openLg(content)" -->
              <!-- (click)="openModal('user')" -->
              <button
                
                class="btn btn-outline-primary form-control"
              >
                Ajouter un utilisateur
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- liste d'association des utilisateurs et des taches -->
      <div class="col-lg-5 card rounded border-0">
        <div class="form-row justify-content-arround">
          <div class="col-md-6">
            <h3 class="form-control-label">Tâches</h3>
            <!--  *ngFor="let task of tasksWorkflow; let i = index" -->
            <div
              class="form-group"
             
            >
              <!-- (change)="onTaskSelect(task.id, i)" -->
              <!-- (change)="onTaskSelect($event.target.value, i)" -->
              <select
                class="form-control"
                name="user"
                
              >
              <!-- <option
                  *ngFor="let taskav of availableTasks.slice()"
                  [value]="taskav.id"
                >
                  {{ taskav.titre }}
                </option> -->
                <option value="">Choisir...</option>
                
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="form-control-label">Utilisateurs</h3>
            <!--  *ngFor="let task of tasksWorkflow" -->
            <!-- (change)="onUserSelect($event.target.value, i)" -->
            <!-- <option *ngFor="let user of usersWorkflow" [value]="user.id">
                        {{ user.name }}
                      </option> -->
            <div class="form-group">
              <select class="form-control">
                <option value="">Choisir...</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bouton d'enregistrement -->
    <div>
      <div class="row justify-content-lg-end">
        <button class="btn btn-success col-lg-2 mt-3" type="submit">
          enregistrer
        </button>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-2"><div class="" id="pointer">Etape 1</div></div>
      <div class="col-2"><div class="" id="pointer ">Etape 2</div></div>
      <div class="col-2"><div class="" id="pointer">Etape 3</div></div>
    </div>

    <div>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="pills-step1-tab"
            data-toggle="pill"
            href="#pills-step1"
            role="tab"
            aria-controls="pills-step1"
            aria-selected="true"
            >Étape 1</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-step2-tab"
            data-toggle="pill"
            href="#pills-step2"
            role="tab"
            aria-controls="pills-step2"
            aria-selected="false"
            >Étape 2</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-step3-tab"
            data-toggle="pill"
            href="#pills-step3"
            role="tab"
            aria-controls="pills-step3"
            aria-selected="false"
            >Étape 3</a
          >
        </li>
      </ul>
    </div>
  </form>
</div>
<!-- </div> -->
