<div class="contrats row mt-3">
    <div class="col-12 col-lg-4">
      <div class="card shadow-none border radius-15">
        <div class="card-body">
          <small class="display-4">Contrats*</small>
          <div class="d-flex flex-row align-items-center justify-content-end">
            <div class="font-60 text-primary">
              <img
                (click)="clikedFolder()"
                width="96"
                height="96"
                src="https://img.icons8.com/color/96/folder-invoices--v1.png"
                alt="folder-invoices--v1"
              />
              <small>{{ countContrat() }} files*</small>
            </div>
            <!-- <div class="user-groups ms-auto">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                width="35"
                height="35"
                class="rounded-circle"
                alt=""
              />
              <img
                src="https://bootdey.com/img/Content/avatar/avatar2.png"
                width="35"
                height="35"
                class="rounded-circle"
                alt=""
              />
            </div> -->
            <!-- <div class="user-plus">+</div> -->
            <div class="ms-auto">
              <p style="font-size: small;">ici vous avez tous les documents dee type contrat*</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card shadow-none border radius-15">
        <div class="card-body">
          <small class="display-4">Factures*</small>
          <div class="d-flex align-items-center">
            <div class="font-60 text-primary">
              <img
                (click)="clikedFolder()"
                width="96"
                height="96"
                src="https://img.icons8.com/color/96/folder-invoices--v1.png"
                alt="folder-invoices--v1"
              />
              <small>15 files*</small>
            </div>
            <div class="ms-auto">
              <p style="font-size: small;">ici vous avez tous les documents dee type facture*</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
