<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
     
        <div class="row justify-content-center">
         
            <h1 class="text-white">Forgot your password?</h1>
           
          
        </div>
      
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
         
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Please enter your email</small>
            </div>
            <form role="form">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email" type="email">
                </div>
              </div>
              <div class="form-group">
               
              </div>
              <div class="custom-control custom-control-alternative custom-checkbox">
                
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary my-4">Request password reset</button>
              </div>
            </form>
          </div>
          
        </div>
        
            <div class="row justify-content-center">
                <br>
            <a href="login" class="text-light"><small>Back to sign in</small></a>
          
          </div>
        </div>
      </div>
     
    </div>
 