<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bienvenue!</h1>
          <h1 class="title">ArZo <span>GED</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

<div class="container mt--9 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent ">
          <div class="text-muted text-center ">
            <h2>Connexion</h2>
            <small>Entrez vos identifiants pour vous connecter</small>
          </div>

          <div class="card-body px-lg-5 py-lg-5">
            <form class="form" action="/dashboard" method="get">
              <div class="form-group w-[80%] ">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                  <input class="form-control" placeholder="Nom d'utilisateur" name="user" type="text">
                </div>
              </div>
              <div class="form-group w-[80%]">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Mot de passe" type="password">
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary">Connexion</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>
        </div>
        <!-- <div class="col-4 text-right">
          <a href="javascript:void(0)" class="text-light"><small>Create new account</small></a>
        </div> -->
      </div>
    </div>
    
  </div>
</div>
