

<div class="flex-container">


    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
           
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
            </div>
            <div class="text-center">
              
             
              <div class="h5 mt-4  student-name" >
                <i class="ni business_briefcase-24 mr-2 "></i>Japhet Adjetey
              </div>
              <div class="school">
                <i class="ni education_hat mr-2"></i>NovaStar School Academy.
              </div>
              <div class="fees">
                <i class="ni education_hat mr-2"></i>Fees To Pay : <span>GHC 900.00</span>.
              </div>
              <hr class="my-4" />
              <p class="proceed">Proceed to make fees with your bank or mobile money.</p>
              <a class="btn btn-sm btn-primary proceed-pay"   (click)="proceedToPay()">Proceed To Pay</a>
            </div>
          </div>
        </div>
      </div>
</div>