<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <div class="col-md-6">
        <div style="width: 64rem;">
          <div class="card card-stats mb-4 mb-lg-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h1>Merci pour vos réponses !</h1>
                    <h2>Vos réponses seront traités afin de répondre à vos besoins.</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
