<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card bg-gradient-secondary shadow--hover">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h1>Activitées proposées</h1>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Description</th>
                  <th scope="col">Durée</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Escape game</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    <div class="text-wrap" style="width: 50rem;">
                      L'Escape Game est un jeu dont le but est à tenter de s’échapper d’une pièce en un temps limité. En groupe de 2 à 6 participants, les joueurs doivent chercher des indices disséminés dans une ou plusieurs pièces, puis les combiner pour avancer dans la salle.
                    </div>
                  </td>
                  <td>
                    Quelque heures
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">7 wonders</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    <div class="text-wrap" style="width: 50rem;">
                      7 Wonders est un jeu de cartes ayant pour thème le développement de civilisations autour de chacune des sept Merveilles du monde en utilisant un système de draft.
                    </div>
                  </td>
                  <td>
                    Quelque heures
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Foot</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    <div class="text-wrap" style="width: 50rem;">
                      Le football est un sport collectif qui se joue avec un ballon sphérique, où il faut faire pénétrer un ballon rond dans les buts adverses sans utiliser les mains
                    </div>
                  </td>
                  <td>
                    Quelque heures
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Honey Heist</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    <div class="text-wrap" style="width: 50rem;">
                      C’est Festimiel 2017. Et tu y prépare le plus grand braquage de tous les temps. Deux choses : tu as prévu un plan complexe qui nécessite un timing très précis; tu es un ours, hé ouais !
                    </div>
                  </td>
                  <td>
                    Une 1/2 journée
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Karaoké</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    <div class="text-wrap" style="width: 50rem;">
                      Le karaoké est une façon divertissante de chanter, en suivant les paroles sur un écran.
                    </div>
                  </td>
                  <td>
                    Une 1/2 journée
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
      </div>
    </div>

  </div>
</div>
