<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-secondary shadow--hover">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h1>ACTIVITY</h1>
            </div>
      </div>
    </div>

  </div>
</div>
