<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Clients</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="card shadow">
                  <div class="card-header border-0 align-self-end ">
                    <button type="button" class="btn btn-outline-info" (click)="openDialog()" ><i class="fas fa-solid fa-user" style="margin-right: 10px;"></i>Ajouter un client</button>
                </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Nom</th>
                          <th scope="col">Email</th>
                          <th scope="col">Num Tel</th>
                          <th scope="col">Adresse</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dataSource">
                          <td>
                            {{item.nom}}
                          </td>
                          <td>
                            {{item.email}}
                          </td>
                          <td>
                            {{item.numTel}}
                          </td>
                          <td>
                            {{item.address}}
                          </td>
                          <td class="text-right">
                            <a class="btn btn-primary btn-sm" (click)="openEditDialog(item.id, item.nom, item.email,item.numTel, item.address)"><i class="fas fa-edit" ></i></a>
                            <a class="btn btn-danger btn-sm" (click)="supprimerClient(item.id)"><i class="fas fa-trash-alt" ></i></a>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

