<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
         
      
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0 choose-birth">
          
          <h2  class="dob">Select Date Of Birth</h2>
            <form role="form" [formGroup]="StudentDateOfBirth">
              <div *ngIf="errormessage" class="invalid">{{errormessage}}</div>
              <div *ngIf="StudentDateOfBirth.get('dob').invalid && (StudentDateOfBirth.get('dob').dirty || StudentDateOfBirth.get('dob').touched)"
                
              >
             <div *ngIf="StudentDateOfBirth.get('dob').errors.required" class="invalid">
                * All fields are required.
             </div>
           
           
           </div>
              <div class="form-group">
               
                <input type="date"  placeholder="Choose Date Of Birth" class="dateOfBirth" formControlName="dob">
                
                  
              </div>
             
              <div class="text-center">
                <button type="button" class="btn btn-primary mt-4 single-search"  (click)="selectDob()" >Search</button> 
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  