<div class="container-fluid">
  <div class="card">
    <form>
      <h1 class="title">Remplissez ce formulaire</h1>
      <div class="form-group">
        <label for="form-control">Nom</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="form-control">Description</label>
        <input type="text" class="form-control" />
      </div>
      <div class="row form-group">
        <div class="col">
          <button class="btn btn-primary">ajouter les utilisateurs</button>
        </div>
        <div class="col">
          <button class="btn btn-primary">ajouter les documents</button>
        </div>
      </div>
    </form>
  </div>
</div>
