.date-row {
    font-size: 13;
    color: #A7A7A7;
}

.order-row {
    font-size: 15;
    font-weight: bold;
}

.status-col {
    font-size: 15;
    font-weight: bold;
}

.card:hover {
    cursor: pointer;
}