.search-student{
    position: relative;
    top: 50px;
    padding: 20px 0px 50px;
    height: 250px;
   
}
mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 300px;
    left: 110px;
    top: 10px;
}
.form-name{
    width: 300px;
    position: relative;
    left: 110px;
    top: 20px;
}

.search-button{
    position: relative;
    bottom: 45px;
    right: 20px;


    &:hover {
        box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
        transform: translateY(-5px);
    }
}

.invalid{
    color: red;
    font-weight: 500;
    font-size: 15px;
    padding: 0px 137px 0px;
    
}

.invalid1{
color: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;;
font-weight: 500;
font-size: 17px;
padding: 0px 170px 0px;
}
.single-search{
    position: relative;
    bottom: 45px;
    right: 20px;
}